<link rel="stylesheet" href="/css/conversas.css">
<div class="card">
    <div class="card-header">
        <div class="card-title">Conversas</div>
    </div>
    <div class="card-body">
        <a href="#" class="btn btn-outline-secondary mt-2">Mônica Elizabete <strong class="text-danger">Offline</strong></a>
        <a href="/chat/index/Neilson Venute" class="btn btn-outline-secondary mt-2">Neilson Venute <strong class="text-success">Online</strong></a>
        <a href="/chat/index/Ana Lídia" class="btn btn-outline-secondary mt-2">Ana Lídia <strong class="text-success">Online</strong></a>
        <a href="#" class="btn btn-outline-secondary mt-2">Célia Venute <strong class="text-success">Online</strong></a>
        <a href="#" class="btn btn-outline-secondary mt-2">Tadeu Venute <strong class="text-danger">Offline</strong></a>
        <a href="#" class="btn btn-outline-secondary mt-2">Ronaldo Venute <strong class="text-success">Online</strong></a>
    </div>
    <div class="card-footer">
        <div class="card-title">Usuários conectados:</div>
    </div>
</div>