<link rel="stylesheet" href="/css/conversas.css">
<div class="card" style="margin-top: 80px;">
        <div class="card-header bg-primary text-white">
                <div class="card-title"><h2><strong>Conversas</strong></h2></div>
                <div>
                        <a href="" class="btn btn-danger float-right" data-toggle="modal"
                                data-target="#listaUsuarios"><i class="fas fa-comment-medical"></i> <strong>Nova
                                        Conversa</strong>
                        </a>
                </div>
        </div>
        <div class="card-body">

                {{!-- <a href="#" class="btn btn-outline-secondary mt-2"><strong class="text-dark">Mônica Elizabete </strong></a> --}}
                {{!-- <a href="/chat/index/Neilson Venute" class="btn btn-outline-secondary mt-2"><strong class="text-dark">Neilson Venute
            </strong></a> --}}
                <a href="/chat/privado/Jessica Araujo" class="btn btn-outline-secondary mt-2"><strong
                                class="text-dark">Jéssica
                                Araújo</strong></a>
                <a href="/chat/privado/Tamires Keles" class="btn btn-outline-secondary mt-2"><strong
                                class="text-dark">Tamires
                                Keles</strong></a>
                <a href="/chat/privado/Neilson Venute" class="btn btn-outline-secondary mt-2"><strong
                                class="text-dark">Neilson
                                Venute</strong></a>
                <a href="/chat/privado/Wagner Soares" class="btn btn-outline-secondary mt-2"><strong
                                class="text-dark">Wagner
                                Soares</strong></a>
        </div>
        <div class="card-footer">
                <div class="alert bg-dark text-white">Está com dúvida em assunto, solicite ajuda ao setor.</div>
                <div class="card-title text-dark">Usuários conectados:</div>
        </div>
</div>
<div class="card mt-2">
        <div class="card-header bg-primary text-white">
                <div class="card-title"><h2><strong>Departamentos</strong></h2></div>
        </div>
        <div class="card-body">
                <a href="/chat/index/Almoxarifado/am" class="btn btn-outline-secondary mt-2"><strong
                                class="text-dark">Almoxarifado</strong></a>
                <a href="/chat/index/Apontamento/ap" class="btn btn-outline-secondary mt-2"><strong
                                class="text-dark">Apontamento</strong></a>
                <a href="/chat/index/Recursos Humanos/rh" class="btn btn-outline-secondary mt-2"><strong
                                class="text-dark">Recursos Humanos</strong></a>
                <a href="/chat/index/Informática/ti" class="btn btn-outline-secondary mt-2"><strong
                                class="text-dark">Informática</strong></a>
                <a href="/chat/index/Contabilidade/ct" class="btn btn-outline-secondary mt-2"><strong
                                class="text-dark">Contabilidade</strong></a>
                <a href="/chat/index/Departamento Fiscal" class="btn btn-outline-secondary mt-2"><strong
                                class="text-dark">Departamento Fiscal</strong></a>
                <a href="/chat/index/Compras" class="btn btn-outline-secondary mt-2"><strong
                                class="text-dark">Compras</strong></a>
                <a class="btn btn-outline-secondary mt-2" href="/chat/index/Arquivo/ar"><strong
                                class="text-dark">Arquivo</strong></a>
        </div>
        <div class="card-footer">
                <div class="card-title">Ativo</div>
        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="listaUsuarios" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">Usuários</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                                <h4>Aguradando novas implementações!</h4>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                        </div>
                </div>
        </div>
</div>