<link rel="stylesheet" href="/css/conversas.css">
<div class="card" style="margin-top: 80px;">
    <div class="card-header bg-primary text-white">

        <div class="card-title"><strong>Contatos</strong></div>
    </div>
    <div class="card-body">
        <div class="alert bg-dark text-white">Resolva questões que exiga resposta direto com o responsável.</div>
        {{!-- <a href="#" class="btn btn-outline-secondary mt-2"><strong class="text-dark">Mônica Elizabete </strong></a> --}}
        {{!-- <a href="/chat/index/Neilson Venute" class="btn btn-outline-secondary mt-2"><strong class="text-dark">Neilson Venute
            </strong></a> --}}
        <a href="/chat/index/Jéssica Araújo" class="btn btn-outline-secondary mt-2"><strong class="text-dark">Jéssica
                Araújo</strong></a>
        <a href="/chat/index/Tamires Keles" class="btn btn-outline-secondary mt-2"><strong class="text-dark">Tamires
                Keles</strong></a>
        <a href="/chat/index/Neilson Venute" class="btn btn-outline-secondary mt-2"><strong class="text-dark">Neilson
                Venute</strong></a>
        <a href="/chat/index/Wagner Soares" class="btn btn-outline-secondary mt-2"><strong class="text-dark">Wagner
                Soares</strong></a>
    </div>
    <div class="card-footer">
        <div class="alert bg-dark text-white">Está com dúvida em assunto </div>
        <div class="card-title text-dark">Usuários conectados:</div>
    </div>
</div>
<div class="card mt-2">
    <div class="card-header bg-primary text-white">
        <div class="card-title"><strong>Departamentos</strong></div>
    </div>
    <div class="card-body">
        <a href="/chat/index/Almoxarifado/am" class="btn btn-outline-secondary mt-2"><strong
                class="text-dark">Almoxarifado</strong></a>
        <a href="/chat/index/Apontamento/ap" class="btn btn-outline-secondary mt-2"><strong
                class="text-dark">Apontamento</strong></a>
        <a href="/chat/index/Recursos Humanos/rh" class="btn btn-outline-secondary mt-2"><strong
                class="text-dark">Recursos Humanos</strong></a>
        <a href="/chat/index/Informática/ti" class="btn btn-outline-secondary mt-2"><strong
                class="text-dark">Informática</strong></a>
        <a href="/chat/index/Contabilidade/ct" class="btn btn-outline-secondary mt-2"><strong
                class="text-dark">Contabilidade</strong></a>
        <a href="/chat/index/Departamento Fiscal" class="btn btn-outline-secondary mt-2"><strong
                class="text-dark">Departamento Fiscal</strong></a>
        <a href="/chat/index/Compras" class="btn btn-outline-secondary mt-2"><strong
                class="text-dark">Compras</strong></a>
        <a class="btn btn-outline-secondary mt-2" href="/chat/index/Arquivo/ar"><strong
                class="text-dark">Arquivo</strong></a>
    </div>
    <div class="card-footer">
        <div class="card-title">Ativo</div>
    </div>
</div>