{{!-- Código por Neilson-lUCAS --}}

<link rel="stylesheet" href="/css/sala.css" type="text/css">
<input type="text" name="txtSala" id="txtSala" value="{{sal}}" hidden="true">

<form action="" name="chat" id="chat">
    <input type="text" name="txtNome" id="txtNome" value="" hidden="true">
    <div class="card bg-primary mt-4" style="height: 100%;">
        <div class="text-white"><strong style="margin-left: 5px;">SIGEIN - Chat Corporativo</strong>

            <a href="/chat/conversas" id="fechar" class=" btn btn-primary float-right"><strong>X</strong></a></div>
        <div class="card-header bg-warning">
            <div class="card-title text-black">
                <label for="nome" style="font-size:20px; font-weight:bold;">{{texto}}</label>
            </div>
            <div class="is_typing text-danger" id="is_typing"></div>
        </div>
        <div class="card-body bg-white" style="overflow: auto;" id="bodyMessage">
            {{!-- <div class="messages mt-2 "></div> --}}
            <div id="messages"></div>
        </div>
        <div class="card-footer bg-white bg-outline-primary">
            <div class="input-group">
                <label for="lblMensagem" class="text-black"><strong> Mensagem:</strong></label>
                <div class="input-group mb-3">
                    
                    <input type="textarea" class="form-control" placeholder="Digite aqui..." name="txtMensagem"
                        id="txtMensagem" autocomplete="off">
                    <div class="input-group-append">
                        <button type="submit" name="btnEnviar"
                            class="btn btn-outline-secondary text-black">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>




<script type="text/javascript">
    const socket = io.connect();
    //recebe a sala contida no campo que txtSala passado via parâmetro.
    var room = $('#txtSala').val()
    var nomeUsuario = prompt("Qual é o seu nome?", "");
    $('#txtNome').val(nomeUsuario)

    socket.on('connect', function () {
        // Connected, let's sign-up for to receive messages for this room
        socket.emit('room', room);

        function renderMessages(message) {
            /*A mensagem enviada pelo remente fica no direito sem o seu nome.*/
            if (message.author == $('#txtNome').val()) {
                $('#messages').append('<div id="direito"><label id="mensagem">' + message.message +
                    '</label><br><div id="direito"><small class="text-secondary">' + message.dataa +
                    '</small></div></div></div>' + '<hr id="linha" style="position: relative; float: right;">')
            } else {
                /*Posiciona a mensagem para o recebedor no lado esquerdo com o seu nome no topo da mensagem.*/
                $('#messages').append('<div id="esquerdo"><strong id="autor">' + message.author +
                    '</strong><br><div id="esquerdo"><label id="mensagem">' + message.message +
                    '</label><br><div id="esquerdo"><small class="text-secondary">' + message.dataa +
                    '</small></div></div></div>' + '<hr id="linha" style="position: relative; float: left;">')
            }
        }

        socket.on('previousMessage', function (messages) {
            for (message of messages) {
                renderMessages(message)
            }
        })

        socket.on('receivedMessage', function (message) {
            renderMessages(message)
            $(function () {
                $('#bodyMessage').animate({ scrollTop: 9999999 }, 500);
                $('.is_typing').empty()
            });
        })

        $("#txtMensagem").keypress(function () {
            var quarto = $('#txtSala').val()
            var nome = $("#txtNome").val()
            var notObejct = {
                quarto: quarto,
                nome: nome
            }
            socket.emit("typing",notObejct);
        });

        $('#chat').ready(function () {
            $('#txtMensagem').keyup(function (e) {
                if (e.wich == 8 || e.keyCode == 8) {
                    socket.emit("not-typing", $('#txtSala').val());
                }
            })
        })

        socket.on("not-typing", function (data) {
            $('.is_typing').empty()
        });

        socket.on("typing", function (data) {
            $('.is_typing').empty()
            $('.is_typing').append("<strong><em style='font-size:12px'>" + data.nome + " está digitando...</em></strong>")
        });

    });

    $('#chat').submit(function (event) {
        event.preventDefault();

        var author = $('input[name=txtNome]').val()
        var message = $('input[name=txtMensagem]').val()
        var dataa = pegarDataAtual()

        if (message.length) {
            var messageObject = {
                author: author,
                message: message,
                dataa: dataa,
                room: room
            }
            //renderMessages(messageObject)
            socket.emit('sendMessage', messageObject);
            $(function () {
                $('#bodyMessage').animate({ scrollTop: 9999999 }, 500);
            });
        }
        $('#txtMensagem').val("")
    })

    function pegarDataAtual() {
        var dataAtual = new Date();
        var dia = (dataAtual.getDate() < 10 ? '0' : '') + dataAtual.getDate();
        var mes = ((dataAtual.getMonth() + 1) < 10 ? '0' : '') + (dataAtual.getMonth() + 1);
        var ano = dataAtual.getFullYear();
        var hora = (dataAtual.getHours() < 10 ? '0' : '') + dataAtual.getHours();
        var minuto = (dataAtual.getMinutes() < 10 ? '0' : '') + dataAtual.getMinutes();
        var segundo = (dataAtual.getSeconds() < 10 ? '0' : '') + dataAtual.getSeconds();

        //var dataFormatada = dia + "/" + mes + "/" + ano + " " + hora + ":" + minuto + ":" + segundo;
        var dataFormatada = dia + "/" + mes + "/" + ano + " " + hora + ":" + minuto;
        return dataFormatada;
    }
</script>