<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a href="/" class="navbar-brand">
            <img src="/img/Hiper.jpg" height="28" alt="CoolBrand">
            Chat Corporativo
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Página Inicial</a>
                <a href="#" class="nav-item nav-link">Perfil</a>
                <a href="/chat/conversas" class="nav-item nav-link">Conversas</a>
                <a href="/admin/" class="nav-item nav-link">Painel de Controle</a>
                {{!-- <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a> --}}
            </div>
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link" hidden="true">Login</a>
                <a href="/" class="nav-item nav-link" >Sair</a>
            </div>
        </div>
    </nav>